/* app color #3b9094s */

/* general background */
.bg {
    background: #e6e2e2;
}

/* background white */
.bgw{
    background-color: white;
}

.pb-0{
    padding-bottom: 0px;
}

.pt-8{
    padding-top: 8px;
}

.pt-3{
    padding-top: 3px !important;
}


.p-5{
    padding: 5px !important;
}


.pt-10{
    padding-top: 10px;
}

.pt-0{
    padding-top: 0px;
}

.pt-20{
    padding-top: 20px;
}

.pt-5{
    padding-top: 5px !important;
}

.pl-5{
    padding-left: 5px !important;
}

.pl-0{
    padding-left: 0px !important;
}

/* border */
.bdr{
    border: 1px solid #727d7d40;
}

.bb-2{
    border: 2px solid #727d7d40;
}

.ht-50{
    min-height: 50px;
    height: 50px;
}

.ht-15{
    min-height: 15px;
    height: 15px;
}

.ht-40{
    min-height: 40px;
    height: 40px;
    max-height: 40px;
}
.ht-24{
    min-height: 24px !important;
    height: 24px !important;
}

.ht-20{
    min-height: 20px !important;
    height: 20px !important;
}

.ht-100p{
    min-height: 100%;
    height: 100%;
}

.mb-0{
    margin-bottom: unset;
}

.mb-5{
    margin-bottom: 5px !important;
}

.mb-10{
    margin-bottom: 10px !important;
}

.bt-0{
    border-top:none;
}

.prl-15{
    padding-left: 15px;
    padding-right: 15px;
}

.prl-10{
    padding-left: 10px;
    padding-right: 10px;
}

.prl-4{
    padding-left: 4px;
    padding-right: 4px;
}

.pl-15{
    padding-left: 15px;
}

.pl-5{
    padding-left: 5px !important;
}

.pr-5{
    padding-right: 5px !important;
}

.pr-15{
    padding-right: 15px !important;
}

.mrl-15{
    margin-left: 15px;
    margin-right: 15px;
}

.mr-15{
    margin-right: 15px;
}

.mrl-5{
    margin-left: 5px;
    margin-right: 5px;
}

.page-tab-btn{
    display: inline-block;
    /* background-color: red; */
    padding-right: 5px;
    padding-left: 5px;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.page-tab-txt{
    margin-top: 25px;
    /* background-color: blue; */
    cursor: pointer;
    height: 47px;
    color: #0c222399;
}

.bb{
    font-weight: bold;
    color: #152425de;
}

.page-tab-txt.active{
    border-bottom: 5px solid #3b9094;
    color: #3b9094;
}

.shd{
    box-shadow: 0px 0px 3px 1px #27373817;
}

.shd-2{
    box-shadow: 6px 6px 2px 0px #27373817;
}

.category-heading{
    font-weight: bold;
    width: 100%;
    height: 30px;
    padding-top: 5px;
}

.category-item{
    padding: 1px;
    font-size: 12px;
    cursor: pointer;
    padding-left: 4px;
}

.category-color-item{
    padding: 4px;
    font-size: 12px;
    cursor: pointer;
    margin-left: -15px;
}

.cci-red{
    border-left: 5px solid red;
}

.cci-pink{
    border-left: 5px solid pink;
}

.cci-blue{
    border-left: 5px solid blue;
}

.cci-black{
    border-left: 5px solid black;
}

.fav-color-red{
    display: inline-block;
    min-width: 15px;
    min-height: 15px;
    background-color: red;
    margin-right: 5px;
}

.fav-color-yellow{
    display: inline-block;
    min-width: 15px;
    min-height: 15px;
    background-color: yellow;
    margin-right: 5px;
}

.fav-color-black{
    display: inline-block;
    min-width: 15px;
    min-height: 15px;
    background-color: black;
    margin-right: 5px;
}


.app-tick {
    font-size: 10px;
    color: #3b909470;
    position: absolute;
    right: 5px;
    margin-top: 4px;
    visibility: hidden;
}

.app-tick.active{
    visibility: visible;
}

/* overriding the primary color */
.btn-primary {
    color: #fff;
    background-color: #3f9ca1;
    border-color: #3b9094;
}
.btn-primary:hover {
    color: #fff;
    background-color: #49b5bb;
    border-color: #55d5db;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #02afb8;
    border-color: #02acb8e8;
}

.search-bg{
    background-color: #F8F8F8;
}

.pagination{
    cursor: pointer;
}

.page-link{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 13px;
    width: 40px;
    text-align: center;
}

.page-link-first, .page-link-last{
    width: auto;
} 

/* 
.page-item{
    min-height: 100%;
    display: inline-flex;
}



*/

.clear{
    float: none;
    clear: both;
}

.fr{
    float: right;
}

.fit{
    width: fit-content;
}

.results-show-page-text{
    font-size: 10px;
    font-weight: bolder;
    color: #5b7475e6;
    padding-top: 1px;
    padding-bottom: 1px;
}

.results-count{
    font-size: 14px;
    font-weight: bold;
    color: #16383acc;
    padding-top: 2px;
    padding-bottom: 1px;
}

.results-text{
    font-size: 14px;
    color: #16383acc;
    padding-top: 2px;
    padding-bottom: 1px;
}

.dt{
    color: #0a1a1bb5;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #3b9094;
    border-color: #3b9094;
}

.ma{
    margin-left: auto;
    margin-right: auto;
}

.result-row{
    height: 590px;
    overflow-y: scroll;
}

.p-4{
    padding:4px !important;
}

/*start index-card*/
.index-card{
    /* width: 98%; */
    margin-bottom: 3px;
}

.index-card-header{
    width: 100%;
    /* background-color: red; */
    cursor: pointer;
}

.index-card-header-avatar{
    width: 50px;
    height: 100%;
    float: left;
    /* background-color: blue; */
}

.index-card-header-avatar-img{
    width: 100%;
    height: 100%;
}



.index-card-header-text{
    height: 100%;
    width: 130px;
    float: left;
    /* background-color: green; */
}

.index-card-header-text-upper{
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 3px;
    /* color: #16383ade; */
    color: #516869;
}

.index-card-header-text-lower{
    padding-left: 5px;
    font-size: 12px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 3px;
    color: #16383acc;
}

.index-card-body{
    width: 100%;
    max-height: 240px;
    overflow-y: hidden;
    padding-top: 27px
}

.index-card-body-dummy-img{
    width:100%;
    /* height: 200px; */
}

.index-card-footer{
    width:100%;
    padding: 2px;
}

.app-color{
    /* color: #3f9ca1; */
    color: #d29702;
}

.btn-sm-pd{
    padding: .1rem .5rem;
}

.btlr-5{
    border-top-left-radius: 5px !important;
}
.bblr-5{
    border-bottom-left-radius: 5px !important;
}
.btlr-4{
    border-top-left-radius: 4px !important;
}
.bblr-4{
    border-bottom-left-radius: 4px !important;
}

.btn-tiny{
    font-weight: normal !important;
    padding: .01rem .2rem !important;
    font-size: 10px !important;
}

.card-thing{
    position: absolute;
    right: 5px;
    background-color: transparent;
    top: 96px;
}

.card-like-thing{
    position: absolute;
    right: 5px;
    background-color: transparent;
    top: 140px;
}

.card-price{
    position: absolute;
    right: 5px;
    background-color: #2a6e71fa;
    top: 45px;
    color: #fdffff;
    padding: 3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-shadow: 1px 0px 1px #034346;
    font-size: 12px;
}

.card-price-old{
    position: absolute;
    right: 5px;
    background-color: #2a6e719e;
    top: 70px;
    color: white;
    padding: 3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-decoration: line-through;
    font-size: 10px;
}

.card-rating{
    position: absolute;
    /* bottom: 30px; */
    top: 47px;
    font-size: 10px;
    left: 7px;
}

.wdt-70p{
    width: 70%;
}

.wdt-40p{
    width: 40% !important;
}

.wdt-30p{
    width: 30% !important;
}

.wdt-20p{
    width: 20% !important;
}

.categories-list{
    height: 350px;
    overflow: auto;
    /* background-color: #CCC; */
}


/*end index-card*/



.p-0{
    padding:0px;
}

.gender-btn{
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
}

.fs-19{
    font-size: 19px !important;
}

.price-input{
    font-size: 12px;
    padding: 2px;
    height: 24px;
}

.winner-bells{
    min-width: 100%;
    width:100%;
    height: 53px;
}

.shopping-cart-icon-wrapper{
    float: right;
    cursor: pointer;
    min-height: 100%;
    height: 100%;
    margin-right: 5px;
    /* background-color: yellow; */
    padding-top: 17px;
    margin-left: 10px;
}

.shopping-cart-icon-container{
    color: #3b9094;
    border: 1px solid #3b9094;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    background-color: #f8f8f8;
    font-size: 18px;
    display: inline-block;
}

.shopping-cart-icon-container-sm{
    color: #3b9094;
    border: 1px solid #3b9094;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    background-color: #f8f8f8;
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
}

.vsep{
    min-width: 2px;
    width: 2px;
    min-height: 100%;
    height: 100%;
    text-align: center;
    /* background-color: red; */
    float: left;
}

.cart-icon-text{
    font-size: 14px;
    font-size: 10px;
    font-weight: bolder;
    color: #516869;
}
.cart-icon-count{
    font-size: 20px;
    font-weight: bold;
    color: red;
    vertical-align: super;
    /* text-shadow: -2px 3px 20px #3b9094ad; */
    position: absolute;
    top: 10px;
}

.mt-10{
    margin-top: 10px;
}

.mt-5{
    margin-top: 5px !important;
}

.mt-8{
    margin-top: 8px;
}

.location-brand{
    position: absolute;
    top: 52px;
    /* right: 10px; */
    left: 75px;
    font-size: 10px;
}

.brand-flag{
    height: 20px;
    width: 24px;
}

.top-header-link{
    margin-top: 20px;
    color: #7f9798;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.btn-facebook {
    /* background-color: #405D9D; */
    color: #fff;
}

.smb{
    color: #7f9798;
    font-size: 14px;
    font-weight: bold;
}

.icontext{
    display: inline-block;
}

.tw{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    /* background: green; */
    /* color: #7f9798; */
}

.iw{
    display: inline-block;
    width: fit-content;
    /* background-color: blue; */
    font-size: 14px;
    color: #7f9798;
    font-weight: bold;
}

.tar{
    text-align: right;
}

.header-account-name{
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #516869;
    padding-top: 9px;
    cursor: pointer;
}

.logoff-btn{
    font-size: 12px;
    padding-top: 8px;
    cursor: pointer;
}

.logoff-btn:hover i{
    color: red;
}


/*  item details page */
.app-height{
    min-height: 590px;
    height: 590px;
    overflow: hidden;
}

.item-details-right-card{
    padding: 5px; 
}

.item-title{
    /* border-bottom: 1px solid #e6e2e2; */
    padding-bottom: 5px;
    max-height: 62px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #152425de;
    padding-top:15px;
}

.item-details-by{
    border-bottom: 1px solid #e6e2e2;
    padding-bottom: 5px;
    max-height: 31px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #152425de;
}

.item-details-by-image{
    float: left;
    width: 30px;
}

.item-details-by-name{
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 85%;
}

.item-card-price-old{
    float: left;
    background-color: #2a6e719e;
    color: white;
    padding: 3px;
    padding-top: 4px;
    padding-bottom: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-decoration: line-through;
    font-size: 14px;
}

.item-card-price{
    float: left;
    background-color: #2a6e71fa;
    color: #fdffff;
    padding: 3px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-shadow: 1px 0px 1px #034346;
    font-size: 16px;
}

.item-card-rating{
    font-size: 10px;
    padding-top: 7px;
}


.tac{
    text-align: center;
}

.color-kabox{
    margin-right: 2px;
    font-size: 12px;
}

.item-sm-text{
    font-size: 14px;
}
.item-detail-row{
    background-color: #819b9c1f;
    padding-top: 15px;
    padding-bottom: 15px;
}
/* end item details page */

.active-useres-page{
    color: black;
    font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}

.copyright{
    font-size: 12px;
    color: #2e70736b;
    padding-left: 15px;
    padding-top: 5px;
    position: absolute;
    bottom: 0px;
}

.nav-tabs{
    padding-top: 8px;
    padding-bottom: 7px;
}

.nav-tabs li {
    /* padding: 10px;
    font-size: 14px; */
}

.nav-tabs li a {
    cursor: pointer;
    height: 47px;
    color: #0c222399;
    text-decoration: none;
    padding: 10px;
    margin-right: 5px;
    font-size: 14px;
}

.nav-tabs li>a.active{
    box-shadow: 1px 1px 1px white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #dee2e6;
    border-bottom: 2px solid #ffffff;
}

.nav-tabs li a.active{
    color: #3b9094;
}

.tab-pane{
    /* background-color: red; */
    height: 530px;
    overflow-y: auto;
    padding: 10px;
    overflow-x: hidden;
}

.wdt-200{
    width: 200px;
}

.wdt-80{
    width: 80px;
}

.wdt-100{
    width: 100px;
}

.wdt-100p{
    width: 100%;
}

.wdt-10{
    width: 10px;
}

.wdt-150{
    width: 150px;
}

.wdt-200{
    width: 200px;
}

.list-item-img{
    width: 80px;
}

.list-item-name{
    font-size: 14px;
}

.tal{
    text-align: left !important;
}


.item-list-price-old{
    color: rgb(36, 36, 36);
    text-decoration: line-through;
    font-size: 12px;
}

.item-list-price-discount{
    color: rgb(36, 36, 36);
    font-size: 12px;
}

.purchase-summary-title{
    text-align: center;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
}

.order-list-litem{
    cursor: pointer;
    /* margin-bottom: 5px; */
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    padding-top: 5px;
}

.order-list-litem.active{
    background-color: #3b909436;
}

.order-list-litem:hover{
    background-color: #3b8f9410;
}


.order-id{
    float: left;
    font-weight: bold;
    font-size: 12px;
    color: #2d6e71;
}

.order-money{
    float: right;
    font-size: 14px;
    color: #7f9798;
}

.order-date{
    clear: both;
    font-size: 14px;
    padding-top: 2px;
}

.ofx-h{
    overflow-x: hidden;
}


.whish-card-header-text-upper{
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    max-width: 100%;
    padding-top: 3px;
    color: #516869;
}

.whish-got{
    font-weight: bold;
    color: #3b9094;
}

.whish-pending{
    color: #bb2600;
}

/* setup box */
.setup-box{
    width: 32%;
    /* background-color: red; */
    border: 1px solid #419ca182;
    margin:5px;
    border-radius: 5px;
    float: left;
    margin-bottom: 25px;
}

.setup-box-head{
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: white;
    padding:5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.setup-box-body{
    min-height: 100px;
    height: 100;
    max-height: 490px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    background-color: white;
}

.setup-box-footer{
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #3c909436;
    padding:5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pic-box-preview{
    width: 100%;
    text-align: center;
    height: 100px;
}

.pic-box-preview img{
    width: 100px;
    height: 100px;
}

.box-value{
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 1px;
}

.box-body-flex{
    min-height: unset;
    height: fit-content;
}

.setup-input-label{
    display: inline-block;
    margin-bottom:unset;
    font-size: 14px;
    width: 40%;
    padding-top: 5px;
}

.setup-input-field{
    height: 30px;
}

/* end setup box */


.hidden{
    display: none;
}


.value-title-span{
    display: inline-block;
    width: 120px;
}

.busineess_name{
    width: 100%;
}

.busineess_name_image{
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 10px;
}

.busineess_name_value{
    float: right;
    padding-top: 20px;
    margin-right: 10px;
    font-weight: bold;
}

.customer-table-avatar{
    width: 40px;
    height: 40px;
    
}


.stock-fact{
    width: 100%;
    margin-bottom: 5px;
}

.stock-fact-name{
    float: left;
}

.stock-fact-value{
    float: right;
    font-size: 12px;
}

.stock-row{
    border-bottom: 2px solid #0000005e;
}

.badge{
    font-size: 12px;
    color: red;
    vertical-align: super;
    position: absolute;
    top: 10px;
    background-color: #3b909429;
}

.mtr-5{
    margin-top: 5px;
    margin-right: 5px;
}

.cp{
    cursor: pointer;
}

.fs-14{
    font-size: 14px;
}

.fbox{
    /* border-bottom: 1px solid #e6e3e2; */
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.form-label{
    display: block;
    width: 100%;
}

.form-error-label{
    display: block;
    width: 100%;
    color: #bb0404;
    font-size: 14px;
}

.form-info-label{
    color: #2d6e71;
    display: block;
    width: 100%;
    font-size: 14px;
}


.form-filter-input{
    width: 100%;
    cursor: pointer;
    background-color: #f8f8f8;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    border: 1px solid #ced4da69;
}

.form-filter-inline-input{
    width: 100%;
    cursor: pointer;
    background-color: #f8f8f8;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    border: 1px solid #ced4da69;
    float: left;
    margin-left: 5px;
}

.ht-550-scroll{
    min-height: 550px;
    height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ht-480-scroll{
    min-height: 480px;
    height: 480px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ht-450-scroll{
    width: 100%;
    min-height: 450px;
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ht-400-scroll{
    width: 100%;
    min-height: 400px;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.mb--2{
    margin-bottom: -2px;
}

.report-menu{
    padding-left: 15px;
    background-color: #e6e3e214;
    border-bottom: 1px solid #e6e3e2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.report-menu.active{
    color: #3b9094;
    background-color: white;
    padding-left: 25px;
}